<nav id="sidebar">
    <div class="sidebar-header">
        <h3>TLMS Dashboard</h3>
        <strong>TLMS</strong>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="/Home" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" data-target="#homeSubmenu">
                <i class="fas fa-home"></i>
                Home
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/Home/PQCProduction">PQC Production</a>
                </li>
                <li>
                    <a href="/Home/Activities?Line=ALL">PCQ Realtime</a>
                </li>
                <li>
                    <a href="/Summary/Index">PQC Summary</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/Home/Settings">
                <i class="fas fa-briefcase"></i>
                Setting
            </a>
        </li>
        <li>
            <a href="/Performance/Settarget">
                <i class="fas fa-briefcase"></i>
                Performance Goal
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-paper-plane"></i>
                Sign out
            </a>
        </li>
    </ul>
</nav>