<nav id="sidebar">
    <div class="sidebar-header">
        <h3>TLMS Dashboard</h3>
        <strong>TLMS</strong>
    </div>

    <ul class="list-unstyled">
        <li class="active">
            <a href="/" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" data-target="#homeSubmenu">
                <i class="fas fa-home"></i>
                PQC
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/Home/PQCMaster">Dashboard</a>
                </li>
                <li>
                    <a href="/Home/PQCProduction">Production-Line</a>
                </li>
                <li>
                    <a href="/Home/Activities?Line=ALL">Realtime</a>
                </li>
                <li>
                    <a href="/Summary/Index">Summary</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" data-target="#userMenu">
                <i class="fas fa-user"></i>
                User
            </a>
            <ul class="collapse list-unstyled" id="userMenu">
                <li>
                    <a href="/User/Update">Update Password</a>
                </li>
                <li>
                    <a href="/User/Create">Create new</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/Performance/Settarget">
                <i class="fas fa-chart-bar"></i>
                Performance Goal
            </a>
        </li>
        <li>
            <a href="/Home/Settings">
                <i class="fas fa-cog"></i>
                Setting
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-paper-plane"></i>
                Sign out
            </a>
        </li>
    </ul>
</nav>